# Ignorar archivos CSV en la carpeta de datos
/data/
# Ignorar notebooks
*.ipynb                                                                                                                                        # Environments
.env
.venv
env/
venv/